PORT=5000
MONGODB_URI=mongodb+srv://231210108_db_user:a9MetdgjsNL5cCTw@cluster0.cmtext7.mongodb.net/notes-bookmark-manager?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=your_jwt_secret_key_here_change_in_production
NODE_ENV=development
